<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peercoin</title>
    <!-- temporary bootstrap until @Tyler gets tab content working without it -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/css/home.css">
    <!--<script defer src="/js/home.js"></script>-->
    <script th:if="${signedin}" th:src="@{/js/notification.js}"></script>
</head>
<body>
    <header>
        <div class="navigation">
            <a href="/"><img src="./images/logo.svg" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/order/all">Orders</a></li>
                    <li><a href="/wallet">Wallet</a></li>
                    <li><a href="/offer/all">Offers</a></li>
                </ul>
            </nav>
        </div>
        <div th:if="${signedin}" style="float:right;">
            <div id="notification-dropdown" class="dropdown" onmouseenter="receiveNotification();">
                <a class="btn btn-primary">Notifications</a>
                <div class="dropdown-content">
                    <div id="notifications">
                    </div>
                </div>
            </div>
            <span>&ensp;&ensp;&ensp;</span>
            <div class="user">
                <span class="user-name" th:text="${username}">username</span>
                <div id="user" class="user-drop-down">
                    <ul>
                        <li>Log Out</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Login" th:unless="${signedin}">
            <a id="login-btn" class="login-btn active">Sign In</a>
            <button class = "registration-btn"><a href="/register">Register</a></button>
        </div>
    </header>
    <div class="sign-in-card" id="sign-in-card">
        <form method="POST" name="f" action="login">
            <h1>Login</h1>
            <label for="username" >Username</label>
            <input type="text" id="username" name="username" value="">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="">
            <div class="passwd-sign-in">
                <div>
                    <input type="checkbox" name="stay-in">
                    <label for="stay-in">Stay signed in</label>
                </div>
                <a href="" class="passwd-forget">Forget Password?</a>
            </div>
            <button class="login-btn">Login</button>
        </form>
    </div>
    <div id="overlay"></div>
    <div class="container">
        <main th:unless="${signedin}">
            <div class="intro-card">
                <div>
                    <h1>Peercoin</h1>
                    <p>The number one place to buy, sell, and barter your choice of crypto currency from peer to peer to and from anywhere in the world. Don't already have an account? Sign up today!</p>
                    <a href="/register" class="registration-button">Sign up</a>
                </div>
            </div>
            <div class="analysis">
              <table class="analysis-table">
                  <thead>
                    <tr>
                        <th>Crypto</th>
                        <th>Rate</th>
                        <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>fill</td>
                        <td>fill</td>
                        <td>fill</td>
                    </tr>
                    <tr>
                        <td>fill</td>
                        <td>fill</td>
                        <td>fill</td>
                    </tr>
                    <tr>
                        <td>fill</td>
                        <td>fill</td>
                        <td>fill</td>
                    </tr>
                    <tr>
                        <td>fill</td>
                        <td>fill</td>
                        <td>fill</td>
                    </tr>
                    <tr>
                        <td>fill</td>
                        <td>fill</td>
                        <td>fill</td>
                    </tr>
                    <tr>
                        <td>fill</td>
                        <td>fill</td>
                        <td>fill</td>
                    </tr>
                  </tbody>
              </table>
            </div>
        </main>
        <main th:if="${signedin}">
            user signed in
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        document.getElementById('login-btn').addEventListener('click', e => {
            document.getElementById('sign-in-card').classList.add('active');
            document.getElementById('overlay').classList.add('active');
        })

        document.getElementById('overlay').addEventListener('click', e => {
            if(document.getElementById('overlay').classList.contains('active')) {
                document.getElementById('overlay').classList.remove('active');
                document.getElementById('sign-in-card').classList.remove('active');
            }
            else {
                return;
            }
        })
    </script>
</body>
</html>