<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <link rel="stylesheet" href="/css/sign-in.css">
</head>
<body>
    <main>
        <div class = "sign-in-card">
            <form method="POST" name="login" action="/login">
                <h1>Login</h1>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="">
                <div class="passwd-forget-div">
                    <div>
                        <input type="checkbox" name="stay-in">
                        <label for="stay-in">Stay signed in</label>
                    </div>
                    <a href="" class="passwd-forget">Forget Password?</a>
                </div>
                <button class="login-btn">Login</button>
                <p>Don't have an account? Click here to register!</p>
            </form>
        </div>
    </main>
</body>
</html>