<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:src="@{/js/messaging.js}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/messages-style.css">
    <script th:if="${signedin}" th:src="@{/js/notification.js}"></script>

</head>
<body class="bg-funky" th:onload="'initiateMessaging()'">
<div th:insert="~{order :: header}"></div>

<div class="container">
    <h3 class="heading text-center">Chat Bubble</h3>
    <div class="messaging" th:data-key="${user.getRestApiKey()}" th:data-user="${user.getUsername()}" th:data-offer="${offer.getId()}" id="messaging">
        <div class="inbox_msg">

            <div class="mesgs">
                <div class="msg_history">
                </div>

            </div>
        </div>
        <div class="basic-actions">
            <div class="not-escrowed" th:unless="${offer.isEscrowed()}">
                <a class="btn btn-primary" th:unless="${isBuyer}" id="escrow" onclick="escrow()">escrow</a>
            </div>
            <div class="escrowed" th:if="${offer.isEscrowed()}">
                <div th:unless="${isBuyer}">
                    <a class="btn btn-primary" th:unless="${offer.isReceived()}" onclick="fiatreceived()" id="received">Fiat Received</a>
                </div>
                <div th:if="${isBuyer}">
                    <a class="btn btn-primary" th:unless="${offer.isSent()}" onclick="fiatsent()" id="sent">Fiat Sent</a>
                </div>
            </div>
        </div>
        <div class="input">
                <input id="text" placeholder="..." type="text">
                <input type="button" value="send" onclick="send()">
            <!--TODO: formify for javascript this-->
        </div>
    </div>
</div>
</body>
</html>