<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Post Ad</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <ul class="nav nav-tabs">
            <li class="active nav-item"><a class="nav-link active" data-toggle="tab" href="#buy">Buy</a></li>
            <li class="nav-item"><a href="#sell" class="nav-link" data-toggle="tab">Sell</a></li>
        </ul>
        <div class="tab-content">
            <div id="buy" class="tab-pane fade show active">
                <form method="POST" th:action="@{/order/submit?type=buy}" th:object="${order}">
                    <input type="hidden" value="buy" th:field="*{buy}">
                    <label for="crypto">Buy:</label>
                    <select id="crypto" th:field="*{crypto}" name="Cryptocurrency">
                        <th:block th:each="crypto : ${cryptos}">
                            <option th:attr="value=${crypto.getName()}" th:text="${crypto.getName()} + ' (' + ${crypto.getTicker()} + ')'">crypto</option>
                        </th:block>
                    </select>

                    <label for="in">in: </label>
                    <select id="in" th:field="*{currency}">
                        <optgroup label="crypto">
                            <th:block th:each="crypto : ${cryptos}">
                                <option th:attr="value=${crypto.getName()}" th:text="${crypto.getName()} + ' (' + ${crypto.getTicker()} + ')'">crypto</option>
                            </th:block>
                        </optgroup>
                        <optgroup label="fiat">
                            <th:block th:each="fiat : ${fiats}">
                                <option th:attr="value=${fiat.getName()}" th:text="${fiat.getName()} + ' (' + ${fiat.getTicker()} + ')'">fiat</option>
                            </th:block>
                        </optgroup>
                    </select>

                    <!--TODO: "with" in the case of fiat currency-->
                    <label for="with">with: </label>
                    <select id="with" th:field="*{paymentMethod}">
                        <th:block th:each="method : ${methods}">
                            <option th:attr="value=${method.getName()}" th:text="${method.getName()}">method</option>
                        </th:block>
                    </select>

                    <label for="at">at: </label>
                    <input type="number" id="at" th:field="*{exchangeRate}" placeholder="9000">

                    <label for="range">paying:</label>
                    <label id="range" for="minimum">min:</label>
                    <input type="number" id="minimum" th:field="*{min}">
                    <label for="maximum">max:</label>
                    <input type="number" id="maximum" th:field="*{max}">

                    <input type="submit" value="Place Ad">
                    <input type="reset">
                </form>
            </div>
            <div id="sell" class="tab-pane fade">
                <form method="POST" th:action="@{/order/submit?type=sell}" th:object="${order}">
                    <input type="hidden" value="buy" th:field="*{buy}">
                    <label for="crypto">Sell:</label>
                    <select id="crypto" th:field="*{crypto}" name="Cryptocurrency">
                        <th:block th:each="crypto : ${cryptos}">
                            <option th:attr="value=${crypto.getName()}" th:text="${crypto.getName()} + ' (' + ${crypto.getTicker()} + ')'">crypto</option>
                        </th:block>
                    </select>

                    <label for="for">for: </label>
                    <select id="for" th:field="*{currency}">
                        <optgroup label="crypto">
                            <th:block th:each="crypto : ${cryptos}">
                                <option th:attr="value=${crypto.getName()}" th:text="${crypto.getName()} + ' (' + ${crypto.getTicker()} + ')'">crypto</option>
                            </th:block>
                        </optgroup>
                        <optgroup label="fiat">
                            <th:block th:each="fiat : ${fiats}">
                                <option th:attr="value=${fiat.getName()}" th:text="${fiat.getName()} + ' (' + ${fiat.getTicker()} + ')'">fiat</option>
                            </th:block>
                        </optgroup>
                    </select>

                    <!--TODO: "with" in the case of fiat currency-->
                    <label for="with">with: </label>
                    <select id="with" th:field="*{paymentMethod}">
                        <th:block th:each="method : ${methods}">
                            <option th:attr="value=${method.getName()}" th:text="${method.getName()}">method</option>
                        </th:block>
                    </select>

                    <label for="at">at: </label>
                    <input type="number" id="at" th:field="*{exchangeRate}" placeholder="9000">

                    <label for="range">paying:</label>
                    <label id="range" for="minimum">min:</label>
                    <input type="number" id="minimum" th:field="*{min}">
                    <label for="maximum">max:</label>
                    <input type="number" id="maximum" th:field="*{max}">

                    <input type="submit" value="Place Ad">
                    <input type="reset">
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
