<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Order</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header class="navbar-static-top" th:fragment="header">
            <script th:src="@{/js/notification.js}"></script>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Peercoin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orders</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-item-dark" href="/order/all">View Orders</a>
                                <a class="dropdown-item" href="/order/submit">Place Orders</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wallet">Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/offer/all">Offers</a>
                        </li>
                    </ul>
                    <div style="float:right;">
                        <div id="notification-dropdown" class="dropdown" onmouseenter="receiveNotification();">
                            <a class="btn btn-primary">Notifications</a>
                            <div class="dropdown-content">
                                <div id="notifications">
                                </div>
                            </div>
                        </div>
                        <span>&ensp;&ensp;&ensp;</span>
                        <span class="btn btn-primary" th:text="${username}">username</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
        <!--
        <h1 th:if="${order.isBuy()}">Buy Order</h1>
        <h1 th:unless="${order.isBuy()}">Sell Order</h1>

        <div class="container-sm order-container">
            <table class="table table-borderless table-dark">
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <td th:if="${order.isBuy()}">Seller:</td>
                    <td th:unless="${order.isBuy()}">Buyer:</td>
                    <td th:text="${order.getInitiator().getUsername()}"></td>
                </tr>
                <tr>
                    <td>Crypto:</td>
                    <td th:text="${order.getCrypto().getName()}"></td>
                </tr>
                <tr>
                    <td>Payment:</td>
                    <td th:text="${order.getPayment().getName()}"></td>
                </tr>
                <tr>
                    <td>Method:</td>
                    <td th:text="${order.getMethod().getName()}"></td>
                </tr>
                <tr>
                    <td>Exchange Rate:</td>
                    <td th:text="${order.getExchangeRate()}"></td>
                </tr>
                <tr>
                    <td>Asking Range:</td>
                    <td th:text="${order.getMin()} + ' - ' + ${order.getMax()}"></td>
                </tr>
            </table>
        </div>
        <br />
        <div class="container-sm order-container" th:if="${order.getInitiator().getUsername().equals(username)}">
            <h3>Order Actions</h3>
            <form method="POST" th:action="@{/order/} + ${order.id} + '/markinactive'">
                <input type="submit" value="suspend">
            </form>
        </div>
        <div class="container-sm order-container" th:unless="${order.getInitiator().getUsername().equals(username)}">
            <h3>Make Trade</h3>
            <form th:object="${offer}" method="POST" th:action="@{/order/} + ${order.id} + '/offer'">
                <table class="table table-borderless table-dark">
                    <tr>
                        <td>amount:</td>
                        <td><input type="number" step="0.01" th:min="${order.getMin()}" th:max="${order.getMax()}" th:field="*{amount}"></td>
                        <td>
                            <select th:field="*{type}" >
                                <option value="payment" th:text="${order.getPayment().getName()}"></option>
                                <option value="crypto" th:text="${order.getCrypto().getName()}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Trade"></td>
                        <td><input type="reset"></td>
                    </tr>
                </table>
            </form>
        </div>
-->
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <form>

                    </form>
                </tr>
            </tbody>
        </table>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>