server.port=8081
rabbit.username=guest
rabbit.password=guest

rabbit.host=localhost
registry.python.currencies=Etherium
registry.python.methods=Paypal

spring.data.mongodb.database=peercoin
spring.data.mongodb.host=database
spring.data.mongodb.port=27017
spring.data.mongodb.username=guest
spring.data.mongodb.password=guest
