spring.data.mongodb.database: {{database name}}
spring.data.mongodb.host: 127.0.0.1
spring.data.mongodb.port: 27017
spring.data.mongodb.username: {{username}}
spring.data.mongodb.password: {{password}}