* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: sans-serif; 
    background: linear-gradient(rgb(33, 33, 70), rgb(6, 6, 29));
}

header {
    position: fixed; 
    width: 100%; 
    height: 45px; 
    display: flex; 
    padding: 0 45px; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: .75px solid rgb(224, 219, 219); 
}

.logo {
     width: 100px; 
     height: 43px; 
}

.container {
    max-width: 1350px;  
    margin: 0 auto; 
}

ul {
    list-style-type: none;
}

a {
    color: white; 
    text-decoration: none;
}

header div {
    display: flex; 
    align-items: center; 
}

nav ul {
    margin-left: 45px; 
    display: flex; 
}

nav ul li {
    padding: 8px 8px; 
    font-size: 16px;
}

.navigation {
    justify-content: space-around; 
}

.login-btn {
    font-size: 16px; 
    color: black; 
    margin-right: 15px; 
}

.login-btn:hover {
    background-color: rgb(62, 62, 226); 
    cursor: pointer; 
}

.sign-in-card {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition: 400ms ease-in; 
    z-index: 10; 
    background-color: white; 
    border: 2px solid black; 
    border-radius: 15px; 
    width: 550px; 
}

.sign-in-card.active {
    transform: translate(-50%, -50%) scale(1); 
}

.sign-in-card form {
    display: flex; 
    flex-direction: column;  
    padding: 18px 15px;  
}

.sign-in-card form h1 {
    margin: 0 auto; 
    font-weight: bold; 
    font-size: 2.7rem; 
}

.sign-in-card form a {
    color: black; 
}

.sign-in-card form input:focus {
    outline: none; 
}

.sign-in-card input {
    font-size: 18px; 
    padding: 5px 7px; 
    border: 2px solid gray; 
    border-radius: 5px; 
}

.sign-in-card input[type="text"] {
    margin-top: 10px;
    margin-bottom: 20px; 
}

.passwd-forget {
    margin: 10px 2px; 
}

.sign-in-card .login-btn {
    width: 7.5rem; 
    margin: 0 auto; 
}

.passwd-sign-in {
    display: flex; 
    justify-content: space-between;
}

.passwd-sign-in div {
    margin-top: 10px; 
}

#overlay {
    position: fixed; 
    opacity: 0; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    background-color: rgba(0,0,0,.94); 
    pointer-events: none; 
}

#overlay.active {
    opacity: 1; 
    z-index: 8; 
    pointer-events: all; 
}

main { 
    padding-top: 60px;  
    z-index: 10;  
    height: 100vh; 
    display: grid; 
    grid-gap: 20px; 
    grid-template-columns: 1fr 1fr;; 
    grid-template-rows: 1fr 200px; 
    grid-template-areas: 
    "intro-card analysis"
    "orders orders"; 
}

.intro-card { 
    border: 2px solid black;
    padding: 7px 5px;  
    background-color: white;  
    display: flex; 
    align-items: center; 
    border-top-left-radius: 5px; 
}

.intro-card div {
    margin: 0 auto; 
    padding: 12px 15px; 
}

.registration-button {
    display: inline-block; 
    padding: 15px 18px; 
    background-color: blue; 
    color: white; 
}

.analysis {
    grid-area: analysis; 
    background-color: white; 
    border: 2px solid black; 
}

.orders {
    grid-area: orders; 
    background-color: white; 
    border: 2px solid black; 
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000000;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.notification:hover {
    background-color: #152a38;
}