* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background: linear-gradient(rgb(33, 33, 70), rgb(6, 6, 29));
    color: #ffffff;
    font-family: sans-serif; 
}

button {
   display: inline-block; 
   font-size: 22px; 
   background-color: blue; 
   color: white; 
   padding: 8px 12px; 
   border: 2px solid black; 
}

button:hover {
    background-color: cyan;  
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FFF; 
    cursor: pointer;   
}

.container {
    max-width: 1450px; 
    display: grid; 
    height: 100vh; 
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "slideshow registration" 
    "table-display registration"; 
    grid-gap: 5px; 
}

header {  
    display: flex; 
    justify-content: space-around;  
    align-items: center; 
    padding: 0 7px; 
}

.header-login {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.header-login h2 {
    font-size: 18px; 
    margin-right: 20px; 
}

.navigation {
    display: flex; 
}

header nav ul {
    margin-top: 5px; 
    margin-left: 25px; 
    display: flex; 
    justify-content: space-around;
}

header nav ul li {
    padding: 8px 12px; 
    font-size: 18px; 
}

.slideshow {
    grid-area: slideshow; 
    background-color: cyan; 
}

.table-display {
    grid-area: table-display;  
    background-color: green; 
}

.registration-form {
    grid-area: registration; 
    justify-self: center;
    margin: auto 0;
}

.registration-form-class {
    display: flex; 
    flex-direction: column; 
    padding: 5px 7px;  
    border: 1px white solid; 
    border-radius: 10px; 
    box-shadow: 5px 10px black; 
    height: 500px; 
    width: 375px;
}

.registration-form-class h1 {
    margin: 0 auto; 
    padding-bottom: 15px; 
    line-height: 40px;  
}

.registration-form-class input[type='text'], 
.registration-form-class input[type='password'] {
    border: 1px solid #b4becd; 
    background-color: #152a38;
    padding: 15px 18px; 
    font-size: 18px; 
    margin: 12px 10px;   
    color: #fff; 
}

.registration-form-class input:focus {
    outline: none; 
}

.registration-form-class button {
    margin-top: 15px; 
    position: relative; 
    left: 55%; 
    width: 10rem; 
}





