body {
    background-color: #152a38;
    color: #ffffff;
}

.order-container {
    background-color: #343a40;
    width: 40%;
    margin-left: 10%;
    align-content: center;
    border: 3px solid #3e444a;
    padding-top: 10px;
    padding-bottom: 5px;
}