<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Page</title>
    </head>
    <body>
        <h1>Admin Portal</h1>
        <h3>Add currency</h3>
        <form method="POST" th:action="@{/admin/currency}" th:object="${currency}">
            <label for="type">type:</label>
            <select id="type" th:field="*{className}">
                <option value="crypto">Crypto</option>
                <option value="fiat">Fiat</option>
            </select>

            <label for="name">name: </label>
            <input type="text" id="name" th:field="*{name}">

            <label for="ticker">ticker: </label>
            <input type="text" id="ticker" th:field="*{ticker}">

            <input type="submit" value="add currency">
            <input type="reset">
        </form>
        <h3>Add Payment Method</h3>
        <form method="POST" th:action="@{/admin/method}" th:object="${method}">
            <label for="paymentName">name:</label>
            <input type="text" id="paymentName" th:field="*{name}">
            <input type="submit" value="add payment method">
        </form>
    </body>
</html>